.film_card_list{
    max-width: 341px;
    margin-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 24px;
    background: #FDFDFF;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    border: 2px solid #EBEBEB;
    transition: all 150ms ease-in-out;
    cursor:pointer;
}
.film_card_list:hover{
    box-shadow: 0 0 5px 2px #7F7FD5;
    border: 2px solid #7F7FD5;
}
.film_card_poster{
    width: 131px;
    height: 199px;
    border: 1px solid #EBEBEB;
    align-self: center;
    margin-bottom: 15px;
    cursor:pointer;
}
h4{
    height: 56px;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #4F4F4F;
    margin-bottom: 15px;
    cursor:pointer;
}
.film_card_year{
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #7F7FD5;
    margin-bottom: 15px;
    cursor:pointer;
}
.film_card_plot{
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #979797;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor:pointer;
}
.film_card_slider_name{
    align-self: center;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #979797;
}
.film_card_slider_icon{
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7F7FD5;
    fill: #7F7FD5;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}
.film_card_slider_icon>rect{
    cursor: pointer;
}
input:checked + .slider>.film_card_slider_icon{
    transform: translate(26px, 0);
    background-color: #FDFDFF;
    fill: #FDFDFF;
}