.user_rating{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}

.user_rating>label{
    text-align: center;
    font-size: 68px;
    line-height: 56px;
    transition: all 150ms ease-in-out;
}
.user_rating:not(:checked)>input[type="radio"]{
    display: none;
}
.user_rating:not(:checked)>label {
    color: #C4C4C4;
    cursor:pointer;
}
.user_rating>label:hover, .user_rating:not(:checked)>label:hover ~ label, .user_rating > input:checked ~ label{
    color: #7F7FD5;
}