.rating_card{
    max-width: 798px;
    padding: 32px 29px 64px;
    background: #FDFDFF;
    border: 1px solid #EBEBEB;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}