.sort_button{
    grid-row-start: 2;
    display: flex;
    gap: 6px;  
}
.sort_button>span{
    width: 84px;
    height: 40px;
    background: #EBEBEB;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    font-family: 'Alata', sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #979797;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}
.sort_button>span:hover{
    border: 1px solid #7F7FD5;
    color: #7F7FD5;
}
.sort_button_inputs{
    display: none;
}
.sort_button_inputs:checked + span{
    border: 1px solid #7F7FD5;
    background: #7F7FD5;
    color: #FFFFFF;
}
.sort_button_inputs:checked + span:hover{
    font-size: 16px;
}