.film_card{
    padding: 29px;
    margin-bottom: 25px;
    max-width: 798px;
    background: #FDFDFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 69px 144px auto;
    grid-template-rows: repeat(4, auto);
    grid-gap: 23px;
}