.nav_links{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.nav_links>li{
    line-height: 0;
}
.nav_links>li>svg{
    cursor: pointer;
    fill: #DFE6F1;
    transition: all 150ms ease-in-out;
}
.nav_links>li>svg>path{
    cursor: pointer;
}
.nav_links>li>svg:hover{
    fill: #7F7FD5;
}
